doctype html
html(lang="en")
  head
    title= 'Welcome to pug'
    script(type='text/javascript').
      | if (foo) {
      |    bar()
      | }
  body
    h1 Jade - node template engine
    #container
      - if (true)
         You are amazing
      - else
         Get on it!
         Get on it!
         Get on it!
         Get on it!